@import '../../sass/variables';

.mars-gallery {
    color: $light;
    &_wrapper {
        padding: 1rem 2rem;
        background-color: $blue;
        color: $light;

    }
}

.rover-link {
    text-decoration: underline;
    cursor: help;
    &:hover {
        color: $hover
    }
}