@import '../../sass/variables';

.modal {
    background-color: $blue;
    color: $light;
    &_content {
        background-color: $blue;
        color: $light;
    }
    &_image {
        width: 100%;
    }
}

