@import '../../sass/variables';

.cards-carousel {
    
    
    &_image {
        max-height: 90vh;
        width: auto;
        margin: 0 auto;
    }
}

@media (max-width: 660px) {
    .cards-carousel {
        &_image {
            max-height: 90vh;
            width: 100%
        }
        &_caption {
            display: none;
        }
        &_title {
            font-size: 1.2rem;
        }
    }
}