@import '../../sass/variables';


  .footer {
    flex-shrink: 0; 
    background-color: $dark;
    display: flex;
    padding-top: 1rem;
    justify-content: space-around;
    gap: 0.7rem;
    margin-bottom: 0;
    color: $light;
    &.headerlink a {
        font-size: 1.2rem;
        font-weight: bold;
        color: $light;
    }
    &_nav {
        list-style-type: none;
        margin-left: -3rem;
        text-align: left;
    } 
    &.nav-link a {
        text-align: left;
       
        &:hover {
            text-decoration: underline;
            background-color: $dark;
            color: $light;
        } 
    }   
}
.footer_col {
    & .navmenu {
        &_link {
          color: $light !important;
            //text-decoration: none;
            &.underline {
                text-decoration: underline;
            }
            &:hover {
              text-decoration: underline;
          } 
        }
    }
    
}